<nav class="navbar navbar-expand-lg sticky-top custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand text-white text-uppercase" href="#">My GitHub Clone</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars" style="font-size: 22px; color: white;"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/github/users">
              <i class="fas fa-search text-white"></i>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/github/repositories">
              <i class="fas fa-search text-white"></i>
              Repos
            </a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>