<div class="container">
    <section class="section hero-section">
        <h1 class="my-name my-5">
            {{my_profile?.name}}
        </h1>
        <div class="hero-description">
            <p>
                My GitHub Clone is a simple project to let you 
                search through <br/> github API for users and repos.
                
            </p>
            <p>
                In this app, we let you view your repos 
                <br/> 
                OR
                <br/> 
                repos of other github users.
            </p>
            <p>
                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
            </p>
        </div>
    </section>
</div>

<div class="container">
    <section class="section">
        <h1>My Repos</h1>
        <div class="row my-5">
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <div class="card custom-card px-4 py-4">
                    <div class="c-body">
                        <h4>Repo name</h4>
                        <p>
                            <i class="fa-solid fa-calendar"></i>
                            <span>
                                12/10/2021
                            </span>
                        </p>
                    </div>
                    <div class="c-footer d-flex">
                        <div class="ms-auto">
                            <span>
                                <i class="fa fab fa-git me-4"></i>
                            </span>
                            <span>
                                <i class="fa fa-solid fa-code-fork me-2"></i>
                                36
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>