.hero-section{
    --h1-size: 72px;
    --p-size: 22px;
    h1{
        font-size: var(--h1-size);
        color: var(--color);

    }
    .hero-description p{
        color: var(--color);
        font-size: var(--p-size);
        margin-bottom: 30px;
    }
}

.custom-card{
//     background: rgb(2,0,36);
// background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(33,16,92,1) 38%, rgba(0,212,255,1) 100%);
    // box-shadow: 0 0 10px 20px #aaaaaa10;
    background: var(--select-bg);
    background: linear-gradient(to right, #120b24d2, #04042ce8), url(/assets/bg2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;

    h4, p, .fa{
        cursor: pointer !important;
    }
    &.fa{
        cursor: pointer !important;
        font-size: 18px !important;
        color: red;
    }
}

.img-top{
    overflow: hidden;
    img{
        width: 100%;
        aspect-ratio: 16/9;
    }
}