<div class="container">
    <section class="section hero-section">
        <h1 class="my-name my-5">
            Isaac Kiptoo <br/> Kilimo
        </h1>
        <div class="hero-description">
            <p>
                My GitHub Clone is a simple project to let you 
                search through <br/> github API for users and repos.
                
            </p>
            <p>
                In this app, we let you view your repos 
                <br/> 
                OR
                <br/> 
                repos of other github users.
            </p>
        </div>
    </section>
</div>

<div class="container">
    <section class="section">
        <h1>My Repos</h1>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card custom-card">
                    <div class="img-top"></div>
                    <div class="card-body"></div>
                    <div class="card-footer text-dark">
                        <i class="fab fa-git"></i>
                        <i class="fa-solid fa-code-fork"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>