<div class="container">
    <div class="d-flex justify-content-center">
        <form class="d-flex">
          <input
            class="custom-input form-control form-control-lg me-2 shadow-none bg-transparent text-white border border-white"
            type="search" placeholder="Search Users" name="searchTerm" [(ngModel)]="searchTerm">
          <button class="btn btn-outline-white border border-white shadow-none" type="submit" (click)="search()">
            <i class="fas fa-search text-white"></i>
          </button>
        </form>
      </div>
</div>
